.box{
    width: 75px;
    height: 75px;
    border: 2px solid;
    background-color: bisque;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#boxContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#restartBtn {
    padding: 10px 20px;
    color: black;
    background-color: azure;
    border-color: blue;
    border-radius: 5px;
    font-size: 1rem;
    transition: 200ms;
}

#restartBtn:hover {
    transform:translateY(-5px);
    background-color: cyan;
    cursor: pointer;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}

.box:nth-child(3n+1){
    border-left: none;
}

.box:nth-child(3n+3){
    border-right: none;
}

.box:last-child,
.box:nth-child(7),
.box:nth-child(8){
    border-bottom: none;
}